mysql.address={{address}}
mysql.database={{database}}
mysql.username={{username}}
mysql.password={{password}}
openurl.wechatpivot={{url}}
wechatpivot.{app}.appid={appid}
wechatpivot.{app}.secret={secret}
wechatpivot.{app}.token={token}
wechatpivot.alias.{alias}={app}
logentries.token={{token}}
egg.env=dev
web.env=local
